<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectP2MM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <KinectP2MM.Properties.Settings>
            <setting name="left_hand" serializeAs="String">
                <value>left_cursor.png</value>
            </setting>
            <setting name="right_hand" serializeAs="String">
                <value>right_cursor.png</value>
            </setting>
            <setting name="left_hand_grip" serializeAs="String">
                <value>left_cursor_grip.png</value>
            </setting>
            <setting name="right_hand_grip" serializeAs="String">
                <value>right_cursor_grip.png</value>
            </setting>
            <setting name="font1_full" serializeAs="String">
                <value>Demibas</value>
            </setting>
            <setting name="font1_bottom" serializeAs="String">
                <value>Demibas (partiebasse)</value>
            </setting>
            <setting name="font1_top" serializeAs="String">
                <value>Demibas (partiehaut)</value>
            </setting>
            <setting name="font2_full" serializeAs="String">
                <value>Demihaut</value>
            </setting>
            <setting name="font2_bottom" serializeAs="String">
                <value>Demihaut (partiebasse)</value>
            </setting>
            <setting name="font2_top" serializeAs="String">
                <value>Demihaut (partiehaut)</value>
            </setting>
            <setting name="background_color" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="foreground_color" serializeAs="String">
                <value>#00FF00</value>
            </setting>
        </KinectP2MM.Properties.Settings>
    </userSettings>
</configuration>